pandas==1.5.3
numpy==1.23.5
faiss-cpu==1.7.3
tiktoken==0.3.3
langchain==0.0.171
langchain-groq @ git+https://github.com/hwchase17/langchain-groq.git@main
openai==1.58.1
streamlit==1.38.0
python-dotenv==1.0.1
